<md-content flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>MOVIES.TITLE_HEADER</h2>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center start">
        <md-card flex>
            <md-card-content layout="row" layout-wrap layout-align="space-around start">
                <section flex="10" class="movie" ng-repeat="film in vm.films">
                    <div class="picture">
                        <figure>
                            <img src="{{film.figure.img}}" alt=""/>
                            <figcaption><h1>{{film.title}} Image</h1></figcaption>
                        </figure>
                        <div class="title">
                            <div class="notes">
                                <img class="star" src="../assets/images/films/star.png"
                                     alt="" ng-repeat="star in vm.repeatInt(film.rating)"/>
                            </div>
                            <h1>{{film.title}}</h1>
                        </div>
                        <div class="hover">
                            <div ng-class="{ 'eye': !film.seen, 'eye-full': film.seen }" title="{{ film.seen ? FILM.SEEN : FILM.NOT_SEEN }}" translate></div>
                        </div>
                    </div>
                </section>
            </md-card-content>
        </md-card>
    </div>
</md-content>