.blurred-bg
  background url('../assets/images/backgrounds/blurred.jpg') no-repeat 50% 50%
  background-size cover

#movies
  margin 0 auto

  md-toolbar, md-card
    background none
    box-shadow none

  md-content
    background none

  .movie
    margin 10px 25px
    background rgba(255, 255, 255, 0.1)
    box-shadow 0 7px 21px #141414

    h1
      cursor pointer
      color #fff
      font-weight normal
      font-size 16px

    .picture
      width auto
      position relative
      &:hover .hover
        display block

      .hover
        display none
        position absolute
        top 0
        padding 5px 10px

        .eye, .eye-full
          cursor pointer
          display block
          height 32px
          width 32px

        .eye
          background url('../assets/images/films/eye.png') no-repeat 50% 50%
          background-size 32px

        .eye-full
          background url('../assets/images/films/eye-full.png') no-repeat 50% 50%
          background-size 32px

      .title
        padding 10px 3%
        position absolute
        bottom 0
        background rgba(255, 255, 255, 0.1)
        width 94%

      figure
        margin 0 auto

        img
          cursor pointer
          width auto

      figcaption
        display none

    .notes
      width 75px

      img.star
        cursor pointer
        width 15px