// Material Backgrounds Pack

// Pack 1
for n in 1..40
  .mb-bg-{n}
    background-image: url('../assets/images/backgrounds/material-backgrounds/mb-bg-'+n+'.jpg')

// Pack 2
for n in 1..30
  .mb-bg-fb-{n}
    background-image: url('../assets/images/backgrounds/material-backgrounds-2/mb-bg-fb-'+n+'.png');
